#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .nav {

    justify-content: center;
    align-items: center;
    color: blue;
    flex-direction: column;

  }


    .devimg {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 5px;
      flex-shrink: inherit;
      max-width: 200px;
      max-height: 300px;
      color: #111;
      box-shadow: 0 0 50px turquoise;
      border-radius: 15px 50px; 
      margin: 35px;
    }
 

  input {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 15px turquoise;

  }

  textarea {
    margin: 20px;
    color:gray;
    box-shadow: 0 0 25px turquoise;
  }

  .icon {
    max-width: 50px;
    max-height: 50px;
    margin: 12px
  }

  h2 {
    margin: 50px;
  }

 .munchmonitor {

  max-width: 250px;
  max-height: 250px;
  justify-content: center;
  flex-direction: inherit;

}

.mmbutton{
  box-shadow: 0 0 5px turquoise;
}
